# PostgreSQL
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis (не используются в данный момент)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here
REDIS_DB=0

# FastAPI Application
APP_PORT=8000  # для приложения в контейнере

# Другие переменные приложения (не используются в данный момент)
API_KEY=your_api_key_here
DEBUG=True
